<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Bills" %>
  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Bills</h1>
    <%= link_to "New bill", new_bill_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="my-10">
    <span class="font-bold tracking-wider text-left">Total Submitted: </span><%= @total_submission %>
  </div>
  <div id="bills" class="min-w-full mt-10">
    <table class="min-w-full border border-collapse border-gray-200 divide-y divide-gray-200">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 font-bold tracking-wider text-left border border-gray-200">Type</th>
          <th class="px-6 py-3 font-bold tracking-wider text-left border border-gray-200">Amount</th>
          <th class="px-6 py-3 font-bold tracking-wider text-left border border-gray-200">Date of Submission</th>
          <th class="px-6 py-3 font-bold tracking-wider text-left border border-gray-200">Submitted By</th>
          <th class="px-6 py-3 font-bold tracking-wider text-left border border-gray-200">Department</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @bills.each do |bill| %>
          <%= render bill %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
